/* BASE */

* {
  box-sizing: border-box;
}

/* LAYOUT */

.photo-container img {
  height: 100%;
}
.photo-container {
  text-align: center;
  overflow: hidden;
}
.photo-container {
  height: 20em;
}

/* THEME */

body{
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #A3BEC2;
}
a {
  text-decoration: none;
}
form {
  background-color: #768A8C
}
button {
  background-color: #69B8C2;
  color: white;
  border-radius: 0.5em;
}
button:hover {
  background-color: #78D2DE;
}

.withDog h3,
.noDog h3 {
  text-transform: capitalize;
}
.snapshot {
  border: solid black 1px;
  background-color: white;
}
figcaption{
  font-style: italic;
}
.highlight {
  border: solid #78D2DE 0.5em;
}

