/* Basic Elements */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #A3BEC2;
  padding: 5em 2em;
}
form {
  width: 50%;
  padding: 1em;
  margin: 1em;
  background-color: #768A8C
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
}
img {
  width:100%;
}

/* Layout elements */

.ballot {
  width:100%;
  background-color: #768A8C;
}
.photo-container{
  background-color: gray;
  min-height: 8em;
}
.option-container{
  margin: 1em 0;
  padding: 1em;
  background-color: #3F6F75;
  min-height: 8em
  text-align: center;
}
.site-header {
  width:100%;
}
#withDogs,
#withoutDogs {
  max-width: 8em;
  margin: 1em auto;
  display: block;
}

#verdict {
  min-height: 4em;
}

/*.highlight {
  border: solid blue 2px;
}*/

/* Checkbox */

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}

/* Default State */
/*div {
   background: green;
   width: 400px;
   height: 100px;
   line-height: 100px;
   color: white;
   text-align: center;
}*/

/* Toggled State */
input[type=checkbox]:checked ~ div {
  border: solid blue 2px;
}

/* Media Query */

@media only screen and (min-width: 20em) { /*phones */
  .option-container{
    width: 75%;
  }
}

@media only screen and (min-width: 55em) { /* phablet or bigger */
  .option-container{
    width: 32%;
  }
}
